@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    height: 100vh;
    width: 100vw;
    background-image: url("https://img.freepik.com/free-photo/alphabet-beads-pink-background_53876-101476.jpg?w=360&t=st=1670079689~exp=1670080289~hmac=1b7ac88e0f7324099c8e459983e5f6428df0e4f8f7a88db9087ec2687259cb74");
    background-size: cover;
}

.tourism-card {
    text-align: center;
    background-color: white;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
    padding: 20px;
}

.main-heading {
    color: black;
    font-family: "normal";
    font-size: 40PX;
    font-style: normal;
    font-weight: bold;
}

.paragraph {
    color: #1a1919;
    font-size: 20px;
}

.button {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    height: 36px;
    width: 145px;
    background-color: pink;
    color: black;
    border-radius: 35px;
    border-width: 2px;
}

.favourite-places-bg-container {
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148907303.jpg?w=740&t=st=1670414502~exp=1670415102~hmac=e58d3c072f283b879500b6a85adb66d0c09978fb9b6c55f837fed7a6d47cd405");
    height: 100vh;
    background-size: cover;
}

.nouns-heading {
    color: #0f0e46;
    font-family: "bree Serif";
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}

.card-container {
    background-color: pink;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
}

.card-heading {
    color: #0f0e46;
    font-family: "Bree Serif";
    font-size: 23px;
    font-weight: bold;
}

.card-description {
    color: black;
    font-family: "Roboto";
    font-size: 13px;
}

.card-image {
    width: 80px;
    height: 100px;
}

.buttonnoun {
    color: white;
    background-color: black;
    font-weight: bold;
    margin: 5px;
}

.detailed-view-bg-container {
    background-image: url("https://img.freepik.com/premium-photo/pink-spring-background_134070-31.jpg?w=740");
    height: 100vh;
    background-size: cover;
}

.detailed-view-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
}

.detailed-view-card-container {
    background-color: pink;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 20px;
}

.detailed-view-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: bold;
}

.detailed-view-card-description {
    color: black;
    font-family: "Roboto";
    font-size: 25px;
}

.detailed-view-card-text-container {
    padding: 80px;
}

.buttondefinition {
    color: white;
    background-color: black;
    font-weight: bold;
    margin: 5px;
}

.detailed-view-bg-container {
    background-image: url("https://img.freepik.com/premium-photo/pink-spring-background_134070-31.jpg?w=740");
    height: 100vh;
    background-size: cover;
}

.detailed-view-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 25px;
}

.detailed-view-card-container {
    background-color: pink;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 25px;
}

.detailed-view-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: bold;
}

.detailed-view-card-description {
    color: black;
    font-family: "Roboto";
    font-size: 25px;
}

.detailed-view-bg-container {
    background-image: url("https://img.freepik.com/premium-photo/pink-spring-background_134070-31.jpg?w=740");
    height: 100vh;
    background-size: cover;
}

.detailed-view-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
}

.detailed-view-card-container {
    background-color: pink;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 20px;
}

.detailed-view-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: bold;
}

.detailed-view-card-description {
    color: black;
    font-family: "Roboto";
    font-size: 15px;
}

.detailed-view-card-text-container {
    padding: 70px;
}

.pandc {
    color: white;
    background-color: black;
    font-weight: bold;
    margin: 5px;
}

.detailed-view-card-text-container {
    padding: 70px;
}

.buttontypes {
    color: white;
    background-color: black;
    font-weight: bold;
    margin: 5px;
}

.detailed-view-bg-container {
    background-image: url("https://img.freepik.com/premium-photo/pink-spring-background_134070-31.jpg?w=740");
    height: 100vh;
    background-size: cover;
}

.detailed-view-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
}

.detailed-view-card-container {
    background-color: pink;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 20px;
}

.detailed-view-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}

.detailed-view-card-description {
    color: black;
    font-family: "Roboto";
    font-size: 15px;
}

.detailed-view-card-text-container {
    padding: 70px;
}

.candu {
    color: white;
    background-color: black;
    font-weight: bold;
    margin: 5px;
}